header{
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  .logo{
    display: flex;
    img{
      margin-right: 10px;
    }
    h2{
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      color: $white;
      span{
        color: $color-1;
      }
    }
  }

  .header__nav{
    width: 53.8%;
    ul{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li{
        display: flex;
        align-items: center;
        position: relative;

        a{
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          letter-spacing: 0.055em;
          color: $white;
          position: relative;
          transition: .3s;
          &::after{
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: $link-hover-color;
            position: absolute;
            bottom: -10px;
            transition: .3s;
           transform-origin: left;
            transform: scaleX(0);


          }
          &:hover{
            color: $link-hover-color;
          }
          &:hover::after{
            transform: scaleX(1);
          }

        }

        span{
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          right: -15px;
          border-bottom: 2px solid $arrow-color;
          border-right: 2px solid $arrow-color;
          transform: rotate(45deg);
        }

      }
    }

  }
}
.header__right{
  display: flex;
  align-items: center;


  .lang{
    display: flex;
    align-items: center;
  }
}