header{
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;


  .logo{
    display: flex;
    img{
      margin-right: 10px;
    }
    h2{

      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      span{
        color: $color-1;
      }
    }
    .header__logo-light{
      color: $arrow-color;
    }
    .header__logo-dark{
      color: $white;
    }
  }

  .header__nav{
    width: 53.8%;
    ul{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li{
        display: flex;
        align-items: center;
        position: relative;

        a{
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          letter-spacing: 0.055em;
          position: relative;
          transition: .3s;

          &::after{
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: -10px;
            transition: .3s;
            transform-origin: left;
            transform: scaleX(0);
          }
          &:hover{
            color: $link-hover-color;
          }
          &:hover::after{
            transform: scaleX(1);
          }

        }
        .header__link-dark{
          color: $white;
          &::after{
            background-color: $link-hover-color;
          }
        }
        .header__link-light{
          color: $arrow-color;
          &::after{
            background-color: $link-hover-color;
          }
        }

        span{
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 2px;
          right: -15px;
          border-bottom: 2px solid $arrow-color;
          border-right: 2px solid $arrow-color;
          transform: rotate(45deg);
        }

      }
    }

  }
}
.header__right{
  height: 100%;
  display: flex;
  align-items: center;

  .search{
    margin-right: 34px;
    cursor: pointer;
  }
  .lang{
    width: 56px;
    height: 100%;
    margin-right: 15px;
    position: relative;
    overflow: hidden;

    &:hover{
      overflow: visible;
    }

    ul{
      position: absolute;
      right: 28px;
      top: -15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &::after{
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        transform: rotate(45deg);
        position: absolute;
        right: -16px;
        top: 5px;
      }
      li{
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;


      }
    }
    &-dark{
      ul{
        &:after{
          border-bottom: 2px solid $white;
          border-right: 2px solid $white;
        }

      }
    }
    &-light{
      ul{
        &:after{
          border-bottom: 2px solid $arrow-color;
          border-right: 2px solid $arrow-color;
        }

      }
    }
  }
  img{
    width: 28px;
    height: 28px;
  }
  .header__user{
    margin-right: 30px;
  }
  .burger{

    cursor: pointer;
    position: absolute;
    display: none;
  }

}
.dark_mode{
  label{
    display: flex;
    align-items: center;
    width: 45px;
    height: 21px;
    position: relative;
    background: $bgDarkMode;
    border-radius: 34px;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("../img/dark.svg");
      background-size: cover;
      position: absolute;
      right: 2px;
    }
    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("../img/light.svg");
      background-size: cover;
      position: absolute;
      left: 2px;
    }
    .radio{
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $radio-color;
      position: absolute;
      transform: translateX(85%);
      transition: .3s;
      z-index: 1;
    }
    input{
      opacity: 0;
      position: absolute;
      transition: 1s;
    }
    input:checked ~ .radio{
      transform: translateX(-5%);

    }
  }
}

@media (max-width: $ipadePro) {
    .header__nav{
      position: absolute;
      background: $nav-bg;
      right: 0;
      top: -34px;
      max-width: 375px;
      padding: 0;
      padding-top: 68px;
      transform: translateX(120%);
      transition: .5s;


      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;


        li{
          width: 90%;
          margin: 0;

          a{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            padding: 20px ;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            position: relative;
          }
          span{
            margin-right: 20px;
            margin-top: 20px;

          }
        }
      }
    }
  .header__right{
    position: relative;
    z-index: 2;
    padding-right: 60px;
    transform: translateX(130%);
    transition: .5s;
    .search{
      position: absolute;
      z-index: 2;
      transform: translateX(-120px);
    }
    .burger{
      display: block;
      right: 15px;
      top: 2px;
      z-index: 5;
      transform: translateX(-260px);

    }
  }
}