header{
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  .logo{
    display: flex;
    img{
      margin-right: 10px;
    }
    h2{
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      color: $white;
      span{
        color: $color-1;
      }
    }
  }

  .header__nav{
    width: 53.8%;
    ul{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li{
        display: flex;
        align-items: center;
        position: relative;

        a{
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          letter-spacing: 0.055em;
          color: $white;
          position: relative;
          transition: .3s;
          &::after{
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: $link-hover-color;
            position: absolute;
            bottom: -10px;
            transition: .3s;
           transform-origin: left;
            transform: scaleX(0);


          }
          &:hover{
            color: $link-hover-color;
          }
          &:hover::after{
            transform: scaleX(1);
          }

        }

        span{
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          right: -15px;
          border-bottom: 2px solid $arrow-color;
          border-right: 2px solid $arrow-color;
          transform: rotate(45deg);
        }

      }
    }

  }
}
.header__right{
  height: 100%;
  display: flex;
  align-items: center;

  .search{
    margin-right: 34px;
    cursor: pointer;
  }
  .lang{
    width: 56px;
    height: 100%;

    margin-right: 15px;
    position: relative;
    overflow: hidden;

    &:hover{
      overflow: visible;
    }

    ul{
      position: absolute;
      right: 28px;
      top: -15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &::after{
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border-bottom: 2px solid $white;
        border-right: 2px solid $white;
        transform: rotate(45deg);
        position: absolute;
        right: -16px;
        top: 5px;
      }
      li{
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;


      }
    }
  }
  img{
    width: 28px;
    height: 28px;
  }
  .header__user{
    margin-right: 30px;
  }
}
.dark_mode{
  label{
    display: flex;
    align-items: center;
    width: 45px;
    height: 21px;
    position: relative;
    background: $bgDarkMode;
    border-radius: 34px;

    &::before{
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $radio-color;
      position: absolute;
      right: -1px;

    }

  }
  input{
    opacity: 0;
    position: absolute;
  }

}