
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$main-color-1: #1C0037;
$main-color-2: #110022;
$white: #ffffff;
$arrow-color: #29092E;
$color-1: #9d7cf9;
$link-hover-color:#604CDA;
$bgDarkMode:#DEDEDE;
$radio-color: #0E0C5E;
$nav-bg:#604CDA;

$ipadePro: 1024px;