@import "./var";
@import "./header";
*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  overflow-x: hidden;
}
.App {
  width: 100vw;
  min-height: 500vh;
  position: relative;

  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 95vh;
    background-color: $main-color-1;
    clip-path: polygon(0 0, 99% 0, 100% 94%, 50% 100%, 0 94%);
    position: absolute;
    z-index: -1;

  }
  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 110%;
    background-color: $main-color-2;
    position: absolute;
    z-index: -2;
    top: -10%;

  }

}
.wrapper{
  width: 1290px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;

}

























// headerBottom

.headerBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  // top: 747.37px;
  background: #110022;
}
.headerBottom>div {
  display: flex;
  width: 100%;
  // top: 747.37px;
}

.rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  margin: 2%;
  padding: 2%;
  background: #17062E;
  box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.rectangle>img {
  // width: 40px;
  // height: 40px;
  // background: #604CDA;
}
.rectangle>h2 {
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  line-height: 159.3%;
  letter-spacing: 0.05em;
  color: #604CDA;
}
.rectangle>p {
  text-align: center;
  font-size: 15px;
  line-height: 159.3%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

// video part
.videoPart {
  display: flex;
}
.videoPart>div>h2 {
  font-family: ArialArmST;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 134.8%;
  /* or 53px */
  letter-spacing: 0.055em;
  color: #FFFFFF;
}
.videoPart>div>p {
  font-family: Arial AMU;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 134.8%;
  /* or 27px */
  
  letter-spacing: 0.055em;
  
  color: #FFFFFF;
}